/*----- JEUNE -----*/

.titre_jeune{
    color:  #e5239b;
}

.texte_jeune{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #e5239b;
    font-size: 28px;
}

.carre_jeune{
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    /*display: block;*/
    justify-content: center;
    border: 3px solid #e5239b;
    /*top: -20vh;*/
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    padding: 18px;
    color:#e5239b;
    background: white;
    
}

.texte_carre_jeune > input{
    z-index: 1;
    position: relative;
    border: none;
    border-bottom: 3px dotted #e5239b;
    color:black;
    bottom: 0.5vh;
}


#nom{
    width: 34vw;
}
#prenom{
    width: 32vw;
}
#date_naissance{
    width: 25vw;
}
#e-mail{
    width: 32vw;
}
#reseau_social{
    width: 28vw;
}
#mon_engagement{
    width: 26vw;
}
#duree{
    width: 33vw;
}
#submit{
    width: 5vw;
    z-index: 1;
    position: relative;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:black;
    top: 1vh;
    left: 17vw;
    font-weight: bold;
}

.texte_carre_jeune > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.arriere_plan_jeune{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top:25vh;
    left: 1vw;
}

.information_jeune{
    position: fixed;
    width: 100%;
    
}


/*----- REFERANT -----*/

.titre_referent{
    color: #14A74B;
}

.texte_referent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #14A74B;
    font-size: 28px;
}

.carre_referent{
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    /*display: block;*/
    justify-content: center;
    border: 4px solid #14A74B;
    top: -22vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    padding: 18px;
    background: white;
    color: #14A74B
}

.texte_carre_referent > input{
    position: relative;
    border: none;
    border-bottom: 2px dotted #14A74B;
    color:black;
    bottom: 0.5vh;
    text-align: justify;
    width: 4vw;
}

#nom{
    width: 34vw;
}
#prenom{
    width: 32vw;
}
#date_naissance{
    width: 25vw;
}
#e-mail{
    width: 32vw;
}
#reseau_social{
    width: 28vw;
}
#presentation{
    width: 26vw;
}
#duree{
    width: 33vw;
}

.texte_carre_referent > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}




.savoir_etre{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: right;
    top: -60vh;
    right: 3vw;
}

.mes_savoir_etres_2{
    position: relative;
    color: #9ef80c;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
    left: 22vw;
    top: -2vw;
}

.rectangle_texte_2{
    background: linear-gradient(to right, #c3ff1c -50%, #14A74B);
    padding-left: 1vw;
    font-size: 24px;
    color: white;
    
}


.petit_rectangle_referent{
    position: relative;
    background-color: #9ef80c;
    top: -38vh;
    width: 14vw;
    left: 10vw;
}

.liste_checkbox_referent{
    position: relative;
}

.respect_choix_2{
    position: relative;
    font-size: 16;
    text-align: center;
    color: #c3ff1c;
    font-weight: bold;
    top: 28vh;
    right: 3vw;
}

.bouton_valider_referent{
    position: relative;
    color: white;
    font-size: 24px;
    background-color: #14A74B;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    top: -26vh;
    left: 87vw;
}

.arriere_plan_referent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top:25vh;
    left: 1vw;
}

.confirmation_referent{
    position: fixed;
    width: 100%;
    
}

.boite_commentaire{
    position: relative;
    float: left;
    top: 8vh;
    left: 3vw;
}

.titre_commentaire{
    text-align: center;
    color: white;
    background:#90c00a;
    font-size: 28px;
    
}
