/*----- Formulaire -----*/

.texte_formulaire{ /* Texte de presentation du formulaire*/
    position: relative;
    text-align: center;
    margin-top: 3vh;
    font-size: 28px;
}

.carre_formulaire{ /* boite contenannt les formularie*/
    position: relative;
    margin: 4vh auto;
    width: 40vw;
    padding: 18px;
    border: 3px solid;
    background: white;
}

.carre_formulaire > input{ /* Trait de remplissage */
    position: relative;
    border: none;
    color:black;
    bottom: 0.5vh;
    border-bottom: 3px dotted;
}

/*----- Arrière plan -----*/

.arriere_plan{
    position: absolute;
    display: grid;
    width: 100%;
    top:25vh;
}

.arriere_plan>*{
    margin: auto;
    width: 40vw;
}

/*----- JEUNE -----*/
.couleur_jeune{
    color: #e5239b;
    border-color: #e5239b;
}

.carre_jeune > input{
    border-color: #e5239b;
}


.carre_jeune > #nom{
    width: 34vw;
}
.carre_jeune > #prenom{
    width: 32vw;
}
.carre_jeune > #date_naissance{
    width: 25vw;
}
.carre_jeune > #e-mail{
    width: 32vw;
}
.carre_jeune > #reseau_social{
    width: 28vw;
}
.carre_jeune > #mon_engagement{
    width: 26vw;
}
.carre_jeune > #duree{
    width: 33vw;
}
.carre_jeune > #submit{
    width: 100px;
    position: relative;
    border-radius: 30px;
    padding: 10px 15px;
    color:black;
    left: 17vw;
    font-weight: bold;
}

.carre_jeune > label{
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.information_jeune{
    position: fixed;
    width: 100%;
}

/*----- REFERANT -----*/

.couleur_referent{
    border-color: #14A74B;
    color: #14A74B;
}

.carre_referent > input{
    border-color: #14A74B;
}

.carre_referent > #nom{
    width: 34vw;
}
.carre_referent > #prenom{
    width: 32vw;
}
.carre_referent > #date_naissance{
    width: 25vw;
}
.carre_referent > #e-mail{
    width: 32vw;
}
.carre_referent > #reseau_social{
    width: 28vw;
}
.carre_referent > #presentation{
    width: 26vw;
}
.carre_referent > #duree{
    width: 33vw;
}

.carre_referent > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.savoir_etre{
    position: absolute;
    top: 15vh;
    right: 3vw;
}

.mes_savoir_etres_2{
    position: relative;
    color: #9ef80c;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
}

.rectangle_texte_2{
    background: linear-gradient(to right, #9ef80c -50%, #14A74B);
    text-align: right;
    font-size: 24px;
    color: white;
    padding-left: 1vw;
}

.petit_rectangle_referent{
    background-color: #9ef80c;
}
.respect_choix_2{
    font-size: 16px;
    text-align: center;
    color: #9ef80c;
    font-weight: bold;
}
/*-----------------*/
.bouton_valider_referent{
    position: fixed;
    color: white;
    font-size: 24px;
    background-color: #14A74B;
    padding: 10px 40px 10px 40px;
    bottom: 6vh;
    right: 3vw;
}

.confirmation_referent{
    position: relative;
    width: 100%;
}

.boite_commentaire{
    position: absolute;
    top: 8vh;
    left: 3vw;
}

.titre_commentaire{
    text-align: center;
    color: white;
    background:#14A74B;
    font-size: 28px;
    
}

#commentaire{
    position: relative;
    font-size: 22px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background:#9ef80c;
    border: none;
    resize: none;
    padding: 20px;
}
/*----- CONSULTANT -----*/

.couleur_consultant{
    color: #17a4e1;
    border-color: #17a4e1;
}

.nom{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    font-size: 35px;
    border: none;
}

.carre_consultant{
    position:relative;
    display:flex;
    justify-content: center;
}

.carre_consultant >div{
    margin-right: 25px;
    margin-left: 25px;
}

/*----- PROFIL -----*/

.couleur_profil{
    color: #70707b;
    border-color: #70707b;
}

.information_profil{
    position: relative;
    width: 100%;
}

.carre_formulaire.couleur_profil > label{
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}
