
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/


.haut_de_page{
    display: grid;
    position: fixed;
    height: 28vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    z-index: 2;
    min-height: 100px;
    max-height: 200px;
    background: radial-gradient(circle at 25% 45%, white -10%, rgb(185, 183, 183) );
}


.logo_home {
    position: absolute;
    left: 5vh;
    height:100%;
}

.logo_home > * {
    height: 100%;
}

.titre{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: calc(40px + 2vw);
    top: 18%;
    text-align: right;
    width: 100%;
    pointer-events: none;
    right: 5vh;
}

.soustitre{
    position: absolute;
    width: 100%;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: calc(15px + 1vw);
    top: 65%;
    text-align: right;
    pointer-events: none;
    right: 5vh;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.bas_de_page{ 
    position: initial;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: max-content;
    
}



.haut_de_page_vide{
    position: initial;
    height: 27vh;
    min-height: 100px;
    max-height: 200px;
}




.les_modules{
    position: initial;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    z-index: 1;
    background: radial-gradient(at 30% 10%,white -30%,lightgrey);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


ul{
    margin: 0;
}

li{
    position: initial;
    display: inline; 
    flex-wrap: wrap;
    height: 30px;
    padding-left: 20px;
    padding-right: 15px;
}
@media only screen and (max-width: 768px) {
    li{
        width :100%;
    }
    .boite > div {
        width :100%;
    }
}

a{
    text-decoration: none;
}

a.bouton_jeune{
   font-size: 24px;
    color: #e5239b;
}

a.bouton_jeune.background{
    background-color: #e5239b;
    color: white;
    padding: 7px 20px;
}

a.bouton_connexion{
    font-size: 24px;
    color:  #70707b;
}

a.bouton_connexion.background{
    background-color: #70707b;
    color: white;
    padding: 7px 20px;
}

a.bouton_referent{
   font-size: 24px;
   color: #14A74B;
} 

a.bouton_referent.background{
   background-color: #14A74B;
   color: white;
   padding: 7px 20px;
}

a.bouton_consultant{
    font-size: 24px;
    color: #17a4e1;
}

a.bouton_consultant.background{
   background-color: #17a4e1;
   color: white;
   padding: 7px 20px;
}

a.bouton_partenaire{
    font-size: 24px;
    color: #70707b;
}

a.bouton_partenaire.background{
    background-color: #70707b;
    color: white;
    padding: 7px 20px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*
.les_ecritures{
    position: initial;
    width: 100%;
    /*top: 21%;
   
}
*/

.boite{
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.boite > div {
    margin-left: 10px;
    margin-right: 30px ;
    margin-top: 8px;
    width: 30vw;
    min-width: 470px;
}


.paragraphe {
    position: relative;
    max-width: 90vw;
    text-align: justify;
    color:#5C5256;
}

.titre_paragraphe{
    position: initial;
    color: rgb(82, 78, 78);
    word-spacing: 1px;
}
/*========================================================================================================================*/


.les_boutons{
    position: absolute;      /* METTRE EN VW COMME UNITER */
    min-width: 200px;
    top: 27vh;
    right: 4vw;
    font-size: 24px;
    display: inline-block;
}

.deconnexion{
    color: lightgrey;
    background-color: rgb(61, 56, 56);
    z-index: 1;
    place-items: center;
    width: 12vw;    
    height: 5vh;  
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

textarea{
    position: relative;
    font-size: 22px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background:#c3ff1c;
    border: none;
    resize: none;
    padding: 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.titre_consultant{
    color: #17a4e1;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.arriere_plan_jeune{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top:25vh;
    left: 1vw;
}


.deja_un_compte{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 48vh;
    color:  #e5239b;
    font-size: 24px;
}


.savoir_etre{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: right;
    top: -20vh;
    right: 3vw;
}

.mes_savoir_etres{
    position: relative;
    color: #e5239b;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
    left: 22vw;
    top: -1vw;
}

.rectangle_texte_1{
    background: linear-gradient(to right, white, #e5239b);
    padding-left: 6vw;
    font-size: 32px;
    color: white;
}

.petit_rectangle_jeune{
    position: relative;
    background-color: pink;
    width: 14vw;
    left: 10vw;
    top: 20vh;
}

.liste_checkbox_jeune{
    position: relative;
}

.respect_choix{
    position: relative;
    font-size: 16;
    text-align: center;
    color: #e5239b;
    font-weight: bold;
    top: 35vh;
    right: 3vw;
}

.information_inscription{
    position: fixed;
    width: 100%;
    
}

/*-------------------------------------------------------------------------------------------------------*/
