.texte_nouveau_consultant{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #e5239b;
    font-size: 24px;
}

.texte_carre_consultant > label{
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.couleur_consultant{
    border-color: #e5239b;
    color: #e5239b;
}

.carre_consultant > input{
    border-color: #e5239b;
}

.carre_consultant > #nom{
    width: 34vw;
}
.carre_consultant > #prenom{
    width: 32vw;
}
.carre_consultant > #e-mail{
    width: 32vw;
}

.carre_consultant > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.valider{
    position: relative;
    margin: auto;
    width: max-content;
    font-size: 24px;
    color:#e5239b
}

