/*----- Inscription -----*/
.texte_carre_inscription > input{
    border-bottom-color: #e5239b;
}

.texte_carre_inscription > #nom{
    width: 34vw;
}
.texte_carre_inscription > #prenom{
    width: 32vw;
}
.texte_carre_inscription > #date{
    width: 25vw;
}
.texte_carre_inscription > #e-mail{
    width: 32vw;
}
.texte_carre_inscription > #reseau_social{
    width: 28vw;
}
.texte_carre_inscription > #mon_engagement{
    width: 26vw;
}
.texte_carre_inscription > #duree{
    width: 33vw;
}
.boutton_submit{
    width: 5vw;
    margin: auto;
}
#submit{
    width: 5vw;
    position: relative;
    border: none;
    color:black;
}

.texte_carre_inscription > label{
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}
/*----------------------*/

.deja_un_compte{
    position: relative;
    margin: auto;
    width: max-content;
    font-size: 24px;
}

.deja_un_compte>*{
    color:  #e5239b;
}
.savoir_etre{
    position: absolute;
    top: 15vh;
    right: 3vw;
}

.mes_savoir_etres{
    position: relative;
    color: #e5239b;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
}

.rectangle_texte_1{
    background: linear-gradient(to right, white, #e5239b);
    text-align:right;
    font-size: 32px;
    color: white;
}

.petit_rectangle_jeune{
    background-color: pink;
}
.respect_choix{
    font-size: 16px;
    text-align: center;
    color: #e5239b;
    font-weight: bold;
}

/*----- CONNEXION -----*/

.carre_connexion > input{
    border-color: #70707b;
}

.carre_connexion > #e-mail{
    width: 32vw;
}

.carre_connexion > #mdp{
    width: 28vw;
}

.carre_connexion > label{
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.jai_pas_compte{
    position: relative;
    margin: auto;
    width: max-content;
    font-size: 24px;
}
.jai_pas_compte >*{
    color:  #e5239b;
}

.information_connexion{
    position: fixed;
    width: 100%;
}

/*----- Profil -----*/

.nouvelle_reference{
    color: lightgrey;
    background-color: rgb(5, 5, 182);
    display: block;
    width: 400px;
    margin: auto;
    padding: 12px 50px;
    position: relative;
    text-align: center;
    font-size: 24px;
}

.mes_references{
    background-color: #ececec;
    border-radius: 23px;
    margin: 10px;
    padding: 10px;
}
.mes_references > div {
    position: relative;
    background-color: #9ef80c;
    font-weight: bold;
    width: 300px;
}
