/*----- Inscription -----*/

.titre_inscription{
    color:  #e5239b;
}

.texte_inscription{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 3vh;
    color:  #e5239b;
    font-size: 28px;
}

.carre_inscription{
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    /*display: block;*/
    justify-content: center;
    border: 3px solid #e5239b;
    margin: 4vh auto 4vh auto;
    width: 40vw;
    padding: 18px;
    color:#e5239b;
    background: white;
}

.texte_carre_inscription > input{
    z-index: 1;
    position: relative;
    border: none;
    border-bottom: 3px dotted #e5239b;
    color:black;
    bottom: 0.5vh;
}


#nom{
    width: 34vw;
}
#prenom{
    width: 32vw;
}
#date{
    width: 25vw;
}
#e-mail{
    width: 32vw;
}
#reseau_social{
    width: 28vw;
}
#mon_engagement{
    width: 26vw;
}
#duree{
    width: 33vw;
}
.boutton_submit{
    width: 5vw;
    margin: auto;
}
#submit{
    width: 5vw;
    position: relative;
    border: none;
    color:black;
}

.texte_carre_inscription > label{
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}
/*----------------------*/

.deja_un_compte{
    position: relative;
    margin: auto;
    width: max-content;
    font-size: 24px;
}

.deja_un_compte>*{
    color:  #e5239b;
}
.savoir_etre{
    position: absolute;
    top: 15vh;
    right: 3vw;
}

.mes_savoir_etres{
    position: relative;
    color: #e5239b;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
}

.rectangle_texte_1{
    background: linear-gradient(to right, white, #e5239b);
    text-align:right;
    font-size: 32px;
    color: white;
}

.petit_rectangle_jeune{
    background-color: pink;
}
.respect_choix{
    font-size: 16px;
    text-align: center;
    color: #e5239b;
    font-weight: bold;
}

/*----- CONNEXION -----*/

.titre_connexion{
    color: #70707b;
}


.texte_connexion{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #70707b;
    font-size: 24px;
}

.carre_connexion{
    position: relative;
    border: 3px solid #70707b;
    top: 8vh;
    width: 40vw;
    padding: 18px;
    color:#70707b;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.texte_carre_connexion > input{
    position: relative;
    border: none;
    border-bottom: 3px dotted #70707b;
    color:black;
    bottom: 0.5vh;
    text-align: justify;
    width: 4vw;
}


#mdp{
    width: 28vw;
}

.texte_carre_connexion > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.jai_pas_compte{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 38vh;
    color:  #70707b;
    font-size: 24px;
}

.information_connexion{
    position: fixed;
    width: 100%;
}

/*----- Profil -----*/


.titre_profil{
    color: #70707b;
}


.texte_profil{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #70707b;
    font-size: 24px;
}

.carre_profil{
    position: relative;
    border: 3px solid #70707b;
    top: 8vh;
    width: 40vw;
    padding: 18px;
    color:#70707b;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}


.nouvelle_reference{
    color: lightgrey;
    background-color: rgb(5, 5, 182);
    z-index: 1;
    place-items: center;
    width: 12vw;    
    height: 5vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 38vh;
    font-size: 24px;
}


.information_profil{
    position: fixed;
    width: 100%;
}