body{
    
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/


.haut_de_page{
    display: grid;
    position: fixed;
    height: 28vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    z-index: 2;
    min-height: 100px;
    background: radial-gradient(circle at 25% 45%, white -10%, rgb(185, 183, 183) );
}


.logo_home {
    position: absolute;
    left: 5vh;
    height:100%;
}

.logo_home > * {
    height: 100%;
}

.titre{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 6vw;
    top: 18%;
    text-align: right;
    width: 100%;
    pointer-events: none;
}

.soustitre{
    position: absolute;
    width: 100%;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 3vw;
    top: 65%;
    text-align: right;
    pointer-events: none;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.bas_de_page{ 
    position: initial;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: max-content;
    
}



.haut_de_page_vide{
    position: initial;
    height: 27vh;
}




.les_modules{
    position: initial;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    z-index: 1;
    background: radial-gradient(at 30% 10%,white -30%,lightgrey);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


ul{
    margin: 0;
}

li{
    position: initial;
    display: inline; 
    flex-wrap: wrap;
    height: 30px;
    padding-left: 20px;
    padding-right: 15px;
}

a{
    text-decoration: none;
}

a.bouton_jeune{
   font-size: 24px;
    color: #e5239b;
}

a.bouton_jeune.background{
    background-color: #e5239b;
    color: white;
    padding: 7px 20px;
}


a.bouton_referent{
   font-size: 24px;
   color: #14A74B;
} 

a.bouton_referent.background{
   background-color: #14A74B;
   color: white;
   padding: 7px 20px;
}

a.bouton_consultant{
    font-size: 24px;
    color: #17a4e1;
}

a.bouton_consultant.background{
   background-color: #17a4e1;
   color: white;
   padding: 7px 20px;
}

a.bouton_partenaire{
    font-size: 24px;
    color: #70707b;
}

a.bouton_partenaire.background{
    background-color: #70707b;
    color: white;
    padding: 7px 20px;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*
.les_ecritures{
    position: initial;
    width: 100%;
    /*top: 21%;
   
}
*/

.boite{
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.boite > div {
    margin-left: 10px;
    margin-right: 30px ;
    margin-top: 8px;
    width: 30vw;
    min-width: 470px;
}


.paragraphe {
    position: relative;
    max-width: 90vw;
    text-align: justify;
    color:#5C5256;
}

.titre_paragraphe{
    position: initial;
    color: rgb(82, 78, 78);
    word-spacing: 1px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.les_carees{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* LE PREMIER CARRE */

.carre{
    position: relative;
    top: 10%;
    width: 213px;
    margin: 0px;
}

.carre_texte_1{
    position: relative;
    text-align: center;
    border-bottom-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 2px;
    padding-right: 2px;
}
.carre_texte_2{
    position: relative;
    z-index: 1;
    height: 80px;
    margin: 0;
    padding: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.premier_carre{
    color: white;
    right: 11%;
    background: linear-gradient(to right, white, #e5239b);
    border: 4px solid #e5239b;
}
.premier_carre p:last-child { 
    color: black;
    background-image: linear-gradient(to top left, lightgrey, white);
}

/* LE DEUXIEME CARRE */

.deuxieme_carre{
    color: white;
    background: linear-gradient(to right, lightgreen, green);
    border: 4px solid lightgreen;
}

.deuxieme_carre p:last-child { 
    color: black;
    background-image: linear-gradient(to top left, lightgreen, white);    
}

/* TROISIEME CARRE */

.troisieme_carre{
    left: 11%;
    background: linear-gradient(to right, lightblue, blue);
    color: white;
    border: 4px solid rgb(95, 95, 219);
}

.troisieme_carre p:last-child { 
    background-image: linear-gradient(to top left, lightblue, white);
    color: black;
}

/*========================================================================================================================*/


.les_boutons{
    position: absolute;
    width: 270px;           /* METTRE EN VW COMME UNITER */
    min-width: 200px;
    top: 6vh;
    right: 0vw;
    font-size: 24px;
    display: inline-block;
}


a.connexion{
    color: lightgrey;
    background-color: rgb(61, 56, 56);
    
}


a.connexion img{
    border: none;
    max-width: 27px;
    max-height: 27px;
    margin: -5px 0;
    padding-left: 3px;
    border-left: 1px solid;
    border-left-color: rgb(185, 183, 183);
}

a.inscription{
    color: lightgrey;
    background-color: rgb(61, 56, 56);
    border-left: 5px solid;
    border-left-color:  rgb(185, 183, 183);
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.les_ecritures2{
    position: initial;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
   
}


div.images {
    width:80vw;
    padding-top:1%;
    padding-left:12vh;
    position: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -5vh;
}

div.images > a > * {
    margin-right: 90px;
    margin-top: 5vh;
    height:180px;
}

.titre_partenaire{
    color: #70707b;
}

.text_partenaire{
    position: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:5C5256;
    font-size: 22px;
    text-align: justify;
    z-index: 1;
    width: 900px;
    
}

.text_partenaire2{
    position: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:5C5256;
    font-size: 22px;
    text-align: justify;
    z-index: 1;
    height: 30px;
    width: 900px;
    
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.titre_jeune{
    color:  #e5239b;
}

.texte_jeune{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #e5239b;
    font-size: 28px;
}

.carre_jeune{
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    /*display: block;*/
    justify-content: center;
    border: 3px solid #e5239b;
    /*top: -20vh;*/
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    padding: 18px;
    color:#e5239b;
    background: white;
    
}

.texte_carre_jeune > input{
    z-index: 1;
    position: relative;
    border: none;
    border-bottom: 3px dotted #e5239b;
    color:black;
    bottom: 0.5vh;
}


#nom{
    width: 34vw;
}
#prenom{
    width: 32vw;
}
#date_naissance{
    width: 25vw;
}
#e-mail{
    width: 32vw;
}
#reseau_social{
    width: 28vw;
}
#mon_engagement{
    width: 26vw;
}
#duree{
    width: 33vw;
}
#submit{
    width: 5vw;
    z-index: 1;
    position: relative;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:black;
    top: 1vh;
    left: 17vw;
    font-weight: bold;
}

.texte_carre_jeune > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.arriere_plan_jeune{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top:25vh;
    left: 1vw;
}

.information_jeune{
    position: fixed;
    width: 100%;
    
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.titre_referent{
    color: #14A74B;
}

.texte_referent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #14A74B;
    font-size: 28px;
}

.carre_referent{
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    /*display: block;*/
    justify-content: center;
    border: 4px solid #14A74B;
    top: -22vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    padding: 18px;
    background: white;
    color: #14A74B
}

.texte_carre_referent > input{
    position: relative;
    border: none;
    border-bottom: 2px dotted #14A74B;
    color:black;
    bottom: 0.5vh;
    text-align: justify;
    width: 4vw;
}

#nom{
    width: 34vw;
}
#prenom{
    width: 32vw;
}
#date_naissance{
    width: 25vw;
}
#e-mail{
    width: 32vw;
}
#reseau_social{
    width: 28vw;
}
#presentation{
    width: 26vw;
}
#duree{
    width: 33vw;
}

.texte_carre_referent > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.savoir_etre{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: right;
    top: -60vh;
    right: 3vw;
}

.mes_savoir_etres_2{
    position: relative;
    color: #9ef80c;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
    left: 22vw;
    top: -2vw;
}

.rectangle_texte_2{
    background: linear-gradient(to right, #c3ff1c -50%, #14A74B);
    padding-left: 1vw;
    font-size: 24px;
    color: white;
    
}


.petit_rectangle_referent{
    position: relative;
    background-color: #9ef80c;
    top: -38vh;
    width: 14vw;
    left: 10vw;
}

.liste_checkbox_referent{
    position: relative;
}

.respect_choix_2{
    position: relative;
    font-size: 16;
    text-align: center;
    color: #c3ff1c;
    font-weight: bold;
    top: 28vh;
    right: 3vw;
}

.bouton_valider_referent{
    position: relative;
    color: white;
    font-size: 24px;
    background-color: #14A74B;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    top: -26vh;
    left: 87vw;
}

.arriere_plan_referent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top:25vh;
    left: 1vw;
}

.confirmation_referent{
    position: fixed;
    width: 100%;
    
}

.boite_commentaire{
    position: relative;
    float: left;
    top: 8vh;
    left: 3vw;
}

.titre_commentaire{
    text-align: center;
    color: white;
    background:#90c00a;
    font-size: 28px;
    
}

textarea{
    position: relative;
    font-size: 22px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background:#c3ff1c;
    border: none;
    resize: none;
    padding: 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.titre_consultant{
    color: #17a4e1;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.titre_inscription{
    color:  #e5239b;
}

.texte_inscription{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #e5239b;
    font-size: 28px;
}

.carre_inscription{
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    /*display: block;*/
    justify-content: center;
    border: 3px solid #e5239b;
    top: 7vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    padding: 18px;
    color:#e5239b;
    background: white;
}

.texte_carre_inscription > input{
    z-index: 1;
    position: relative;
    border: none;
    border-bottom: 3px dotted #e5239b;
    color:black;
    bottom: 0.5vh;
}


#nom{
    width: 34vw;
}
#prenom{
    width: 32vw;
}
#date_naissance{
    width: 25vw;
}
#e-mail{
    width: 32vw;
}
#reseau_social{
    width: 28vw;
}
#mon_engagement{
    width: 26vw;
}
#duree{
    width: 33vw;
}
#submit{
    width: 5vw;
    z-index: 1;
    position: relative;
    border: none;
    border-bottom: none;
    color:black;
    bottom: 0.5vh;
}

.texte_carre_inscription > label{
    z-index: 2;
    display: inline-block;
    padding: 3px;
    font-size: 22px;
    font-weight: bold;
}

.arriere_plan_jeune{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top:25vh;
    left: 1vw;
}


.deja_un_compte{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 40vh;
    color:  #e5239b;
    font-size: 24px;
}


.savoir_etre{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: right;
    top: -20vh;
    right: 3vw;
}

.mes_savoir_etres{
    position: relative;
    color: #e5239b;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -2px;
    left: 22vw;
    top: -1vw;
}

.rectangle_texte_1{
    background: linear-gradient(to right, white, #e5239b);
    padding-left: 6vw;
    font-size: 32px;
    color: white;
}

.petit_rectangle_jeune{
    position: relative;
    background-color: pink;
    width: 14vw;
    left: 10vw;
    top: 20vh;
}

.liste_checkbox_jeune{
    position: relative;
}

.respect_choix{
    position: relative;
    font-size: 16;
    text-align: center;
    color: #e5239b;
    font-weight: bold;
    top: 35vh;
    right: 3vw;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.titre_connexion{
    color: #70707b;
}


.texte_connexion{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    top: 3vh;
    color:  #70707b;
    font-size: 24px;
}

.carre_connexion{
    position: relative;
    border: 3px solid #70707b;
    top: 11vh;
    width: 40vw;
    padding: 18px;
    color:#70707b;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.texte_carre_connexion > input{
    position: relative;
    border: none;
    border-bottom: 2px dotted #70707b;
    color:black;
    bottom: 0.5vh;
    text-align: justify;
    width: 4vw;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
